[Unit]
Description=Caddy container

[Container]
ContainerName=caddy
Image=docker.io/caddy:latest
AutoUpdate=registry

PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp

Network=navidrome.network
Network=synapse.network
Network=wallabag.network
Network=opencloud.network
Network=immich.network

Volume=/home/containers/caddy/data/:/data/:idmap
Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,idmap

UserNS=auto
ReadOnly=true
NoNewPrivileges=true
Tmpfs=/config
Timezone=local

[Service]
TimeoutStartSec=90
Restart=always

[Install]
WantedBy=multi-user.target
