[Unit]
Description=OpenCloud collaboration container

[Container]
ContainerName=opencloud-collaboration
Image=docker.io/opencloudeu/opencloud-rolling:4
AutoUpdate=registry
Timezone=Europe/Paris

User=1000:1000

Entrypoint=["/bin/sh"]
Exec=-c 'opencloud collaboration server'

Environment=WOPISERVER_DOMAIN=wopiserver.example.org
Environment=COLLABORATION_GRPC_ADDR=0.0.0.0:9301
Environment=COLLABORATION_HTTP_ADDR=0.0.0.0:9300
Environment=MICRO_REGISTRY=nats-js-kv
Environment=MICRO_REGISTRY_ADDRESS=localhost:9233
Environment=COLLABORATION_WOPI_SRC=https://wopiserver.example.org
Environment=COLLABORATION_APP_NAME=CollaboraOnline
Environment=COLLABORATION_APP_PRODUCT=Collabora
Environment=COLLABORATION_APP_ADDR=https://collabora.example.org
Environment=COLLABORATION_APP_ICON=https://collabora.example.org/favicon.ico
Environment=COLLABORATION_APP_INSECURE=false
Environment=COLLABORATION_CS3API_DATAGATEWAY_INSECURE=false
Environment=OC_LOG_LEVEL=warn
Environment=OC_LOG_COLOR=true
Environment=OC_LOG_PRETTY=true
Environment=OC_URL=https://cloud.example.org

Volume=/home/containers/opencloud/config:/etc/opencloud:idmap

Pod=opencloud.pod

[Service]
TimeoutStartSec=90
Restart=always

[Install]
WantedBy=multi-user.target
